body {
    color: #333;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

#container{
   width: 70%;
   padding: 1em;
   text-align: left;
   border: 1px solid #DDD; 
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background-color: blue;
    box-shadow: 0px 2px 20px 0px rgba(0, 0,0, 72);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}